#!/bin/bash
# Created by martin on 24/01/2019

set -e

pushd $(dirname $0) > /dev/null
SCRIPTPATH=$(pwd -P)
popd > /dev/null
SCRIPTFILE=$(basename $0)

function log() {
    echo "================================================================================"
    echo "$(date +'%Y-%m-%d %H:%M:%S%z') [INFO] - $@"
    echo ""
}

function err() {
    echo "================================================================================"
    echo "$(date +'%Y-%m-%d %H:%M:%S%z') [ERRO] - $@" >&2
}

function stop(){
    COUNT=$(docker ps |grep "etcd" |grep -v "grep" |wc -l)
    # 判断etcd 容器是否运行
    if [ $COUNT -gt 0 ]; then
        log "etcd容器正在运行，将会被删除！"
        docker stop etcd
        # 删除容器
        docker rm etcd
    fi

}

function start(){
    docker run  -d -p 2380:2380 -p 2379:2379 -p 2381:2381 \
    --name etcd -v {{ topdir }}/config:/etcd/config {{ docker_image }} \
    {{ container_name }} -config-file="/etcd/config/etcd_config.yml"
}

stop
start
